.comments-form {
	margin-top: 2em;
}

.comments-list {
	margin: 1.5em 0 0 0;
	padding: 0;
}

.single-comment-number-title {
	font-size: 4em;
	font-family: bebasregular;
	color: $lighterGray;
}

.single-comment-number-title i {
	color: #EEE;
}

.comments-item {
	padding-bottom: 3em;
	margin-top: 3em;
	border-bottom: 1px solid $aqua;
}

.comments-item:last-child {
	margin-bottom: 3em;	
	border: none;
}

.comments-item:first-child {
	margin-top: 0;
}

.comment-text-container {
	margin-top: 1.5em;
}

.comment-author {
	font-size: 1.5em;
	margin-left: 0.5em;
	font-family: bebasregular;
	color: $gray;
}