
// /*******
// COMMENTS
// *******/

// #comments {
// 	float: left;
// }

// .comments-item {
// 	margin: 15px 0 0 0;
// 	float: left;
// 	width: 100%;
// 	border-bottom: 1px solid #CCCCCC;
// }

// .comments-item:last-child {
// 	border: none;
// }

// .comments-header-container {
// 	width: 100%;
// 	display: inline-block
// }

// .avatar {
// 	float: left;
// }

// .comment-author, .comment-date {
// 	float: left;
// 	padding: 0 10px;
// }

// .comment-author {
// 	font-size: 1.5em;
// 	word-spacing: 0.3em;
// }

// .comments-item p {
// 	padding-bottom: 10px;
// }

// .edit-comment-link {
// 	padding: 15px 0;
// }

// .unapproved-comment {
// 	padding: 5px;
// 	background: #6be1ed;
// 	color: #FFFFFF;
// 	margin-bottom: 15px;
// }

// .comment-date {
// 	font-size: 0.8em;
// 	margin: 5px 0 0 0;
// 	display: inline-block;
// }

// .comment-text-container {
// 	margin-top: 15px;
// }

// .single-comments-counter {
// 	font-size: 1.3em;
// 	padding-bottom: 10px;
// 	color: #CCCCCC;
// }

// // ADD COMMENT

// .add-comment-container {
// 	padding: 20px;
// 	background: #eaf6f7;
// 	clear: both;
// }

// .add-comment-container label {
// 	font-size: 1.2em;
// 	font-family: bebasregular;
// 	margin-left: 15px;
// 	word-spacing: 5px;
// }

// .add-comment-header {
// 	padding-bottom: 15px;
// 	border-bottom: 5px solid #FFFFFF;
// }

// .comment-input {
// 	padding-top: 15px;
// }

// .comment-submit {
// 	background: #71a9db;
// 	padding: 8px;
// 	border: none;
// 	color: #FFFFFF;
// 	margin-top: 15px;
// 	margin-bottom: 30px;
// }

// .comment-submit:hover {
// 	background: #78b3e8;
// }

// .comments-list {
// 	font-size: 16px;
// 	list-style: none;
// }

.comments-form {
	margin-top: 2em;
}

.comments-list {
	margin: 1.5em 0 0 0;
	padding: 0;
}

.single-comment-number-title {
	font-size: 4em;
	font-family: bebasregular;
	color: $lighterGray;
}

.single-comment-number-title i {
	color: #EEE;
}

.comments-item {
	padding-bottom: 3em;
	margin-top: 3em;
	border-bottom: 1px solid $aqua;
}

.comments-item:last-child {
	margin-bottom: 3em;	
	border: none;
}

.comments-item:first-child {
	margin-top: 0;
}

.comment-text-container {
	margin-top: 1.5em;
}

.comment-author {
	font-size: 1.5em;
	margin-left: 0.5em;
	font-family: bebasregular;
	color: $gray;
}