/******
FONTS
*******/

/* BEBAS */

@font-face {
    font-family: 'bebasregular';
    src: url('fonts/BEBAS___-webfont.eot');
    src: url('fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BEBAS___-webfont.woff') format('woff'),
         url('fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* CABIN */

@font-face {
    font-family: 'cabin';
    src: url('fonts/cabin-regular-webfont.eot');
    src: url('fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cabin-regular-webfont.woff') format('woff'),
         url('fonts/cabin-regular-webfont.ttf') format('truetype'),
         url('fonts/cabin-regular-webfont.svg#cabinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cabin';
    src: url('fonts/cabin-bold-webfont.eot');
    src: url('fonts/cabin-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cabin-bold-webfont.woff') format('woff'),
         url('fonts/cabin-bold-webfont.ttf') format('truetype'),
         url('fonts/cabin-bold-webfont.svg#cabinbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'cabin';
    src: url('fonts/cabin-bolditalic-webfont.eot');
    src: url('fonts/cabin-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cabin-bolditalic-webfont.woff') format('woff'),
         url('fonts/cabin-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/cabin-bolditalic-webfont.svg#cabinbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'cabin';
    src: url('fonts/cabin-italic-webfont.eot');
    src: url('fonts/cabin-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cabin-italic-webfont.woff') format('woff'),
         url('fonts/cabin-italic-webfont.ttf') format('truetype'),
         url('fonts/cabin-italic-webfont.svg#cabinitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'cabinmedium';
    src: url('fonts/cabin-medium-webfont.eot');
    src: url('fonts/cabin-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cabin-medium-webfont.woff') format('woff'),
         url('fonts/cabin-medium-webfont.ttf') format('truetype'),
         url('fonts/cabin-medium-webfont.svg#cabinmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cabinmedium';
    src: url('fonts/cabin-mediumitalic-webfont.eot');
    src: url('fonts/cabin-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cabin-mediumitalic-webfont.woff') format('woff'),
         url('fonts/cabin-mediumitalic-webfont.ttf') format('truetype'),
         url('fonts/cabin-mediumitalic-webfont.svg#cabinmedium_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'cabinsemibold';
    src: url('fonts/cabin-semibold-webfont.eot');
    src: url('fonts/cabin-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cabin-semibold-webfont.woff') format('woff'),
         url('fonts/cabin-semibold-webfont.ttf') format('truetype'),
         url('fonts/cabin-semibold-webfont.svg#cabinsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cabinsemibold';
    src: url('fonts/cabin-semibolditalic-webfont.eot');
    src: url('fonts/cabin-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cabin-semibolditalic-webfont.woff') format('woff'),
         url('fonts/cabin-semibolditalic-webfont.ttf') format('truetype'),
         url('fonts/cabin-semibolditalic-webfont.svg#cabinsemibold_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'spaceman';
    src: url('fonts/spaceman-webfont.eot');
    src: url('fonts/spaceman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/spaceman-webfont.woff') format('woff'),
         url('fonts/spaceman-webfont.ttf') format('truetype'),
         url('fonts/spaceman-webfont.svg#spacemanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// TheorySerum icon set
@font-face {
    font-family: 'theoryserum';
    src:url('fonts/theoryserum.eot?-cyr3ql');
    src:url('fonts/theoryserum.eot?#iefix-cyr3ql') format('embedded-opentype'),
        url('fonts/theoryserum.woff?-cyr3ql') format('woff'),
        url('fonts/theoryserum.ttf?-cyr3ql') format('truetype'),
        url('fonts/theoryserum.svg?-cyr3ql#theoryserum') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'theoryserum';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\54";
}
.icon-reddit:before {
    content: "\a5";
}
.icon-stumbleupon:before {
    content: "\a8";
}
.icon-feed:before {
    content: "\ae";
}
.icon-twitter:before {
    content: "\b4";
}
.icon-games:before {
    content: "\df";
}
.icon-short-stories:before {
    content: "\e5";
}
.icon-googleplus:before {
    content: "\153";
}
.icon-blog:before {
    content: "\192";
}
.icon-youtube:before {
    content: "\2020";
}
.icon-books:before {
    content: "\2202";
}
.icon-facebook:before {
    content: "\2211";
}
.icon-bubble:before {
    content: "\a9";
}
