.footer {
	float: left;
	margin: 30px 0 0 0;
	padding: 0 0 55px 0;
}

.footer-piece {
	float: left;
	margin-left: 38px;
}

.footer-about {
	width: 35%;
}

.footer-about p {
	font-size: 1.3em;
	margin-top: 15px;
	float: left;
	//padding: 20px;
	//background: #eaf6f7;
}

.footer-follow {
	width: 16%;
}

.footer-categories {
	width: 16%;
}

.footer-categories h3 {
	padding-bottom: 15px;
}

.footer-categories a {
	padding-top: 5px;
	display: block;
}

.footer-pages {
	width: 16%;
}

.footer-pages h3 {
	padding-bottom: 5px;
}

.footer-pages ul {
	list-style: none;
	padding-left: 0;
}

.footer-pages ul li {
	padding-top: 15px;
	margin: 0;
}

.social-icon-list {
	list-style: none;
	margin-top: -15px;
	padding: 0;
}

.social-icon-list li {
	margin-top: 15px;
}

.social-icon {
	float: left;
	margin: 15px 0 0 0;
}
.social-text {
	margin: -22px 0 0 50px;
	float: left;
	width: 100%;
}

.ts-copyright {
	text-align: right;
	width: 100%;
	padding: 45px 0 0 0;
}

.about-widget {
	background: #EEE;
}