.footer {
	margin-top: 3em;
	background: rgba(123, 193, 199, 0.15);
	padding: 2em 0;
	border-top: 2px solid $aquaLighter;
	border-bottom	: 2px solid $aquaLighter;
}

.about-image {
	padding: 0.5em;
}

.footer-piece li {
	margin-top: 1.5em;
	list-style: none;
}

.footer-piece li:first-child {
	margin-top: 0;
}	

.footer-social {
	display: block;
}

.social-icon-list {
	margin: 0;
}

.footer-social i {
	font-size: 1.25em;
}

.social-text {
	margin-left: 0.5em;
}

#searchsubmit {
	background: $aqua;
	color: #FFF;
	border: none;
}

#searchsubmit:hover {
	background: $aquaLight;
}

.ts-copyright {
	margin: 1em 0;
}

// MEDIUM //
@media only screen and (max-width: 64.063em) {

	.footer-follow, .footer-categories, .footer-pages {
		margin-top: 2em;
	}

}