/******
GLOBAL
*******/

html {
	background: url("images/bg_hexagons.png") fixed #FFF no-repeat bottom center;
}

body {
	font-family: cabin;
	font-size: 16px;
	line-height: 1.5em; /* Baseline 24px */
	color: $gray;
}

h1, h2, h3, h4 {
	font-family: bebasregular;
	font-weight: thin;
	word-spacing: $wordSpacing;
}

h1 {
	font-size: 2.5em; /* 40px */
	line-height: 1.666667em;
}

h2 {
	font-size: 1.5em; /* 24px */
	line-height: 1.5em;
	color: $gray;
}

h3, h4 {
	font-size: 1em;
	line-height: 0.66667em;
}

a {
	color: $aqua;
	text-decoration: none;
}

a:hover {
	color: $aquaLight;
}

p {
	margin:0 0 1em;
	word-spacing: $wordSpacingP;
	line-height: 1.5em;
}

p:last-child {
	margin: 0;
}

button, input[type="text"] {}

////////////////////
// GLOBAL CLASSES //
////////////////////

.blog-header {
	padding: 0.3125em 0; /* 10px */
	font-size: 2.2857em; /* 32px */
	line-height: 1.5em; /* 48 */
	color: $aquaLighter;
}

.blog-header i {
	color: $aquaLighter;
}