/******
GLOBAL
*******/

html {
	background: url("images/bg_hexagons.png") fixed #FFF no-repeat bottom center;
}

body {
	font-family: cabin;
	font-size: 16px;
	line-height: 1.5em; /* Baseline 24px */
	color: $gray;
}

h1, h2, h3, h4 {
	font-family: bebasregular;
	font-weight: thin;
	word-spacing: $wordSpacing;
}

h1 {
	font-size: 2.5em; /* 40px */
	line-height: 1.666667em;
}

h2 {
	font-size: 1.5em; /* 24px */
	line-height: 1.5em;
	color: $gray;
}

h3, h4 {
	font-size: 1em;
	line-height: 1.5em;
}

a {
	color: $aqua;
	text-decoration: none;
}

a:hover {
	color: $aquaLight;
}

p {
	margin:0 0 1em;
	word-spacing: $wordSpacingP;
	line-height: 1.5em;
}

p:last-child {
	margin: 0;
}

button, input[type="text"] {}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(106,166,171,0), rgba(106,166,171,0.75), rgba(106,166,171,0)); 
    background-image:    -moz-linear-gradient(left, rgba(106,166,171,0), rgba(106,166,171,0.75), rgba(106,166,171,0)); 
    background-image:     -ms-linear-gradient(left, rgba(106,166,171,0), rgba(106,166,171,0.75), rgba(106,166,171,0)); 
    background-image:      -o-linear-gradient(left, rgba(106,166,171,0), rgba(106,166,171,0.75), rgba(106,166,171,0)); 
    margin: 4em 10em;
}

code {
	font-family: monospace;
	display: block;
	margin: 0 auto;
	width: 600px;
	color: $lightGray;
}

////////////////////
// GLOBAL CLASSES //
////////////////////

.blog-header {
	padding: 0.3125em 0; /* 10px */
	font-size: 2.2857em; /* 32px */
	line-height: 1.5em; /* 48 */
	color: $aquaLighter;
}

.blog-header i {
	color: $aquaLighter;
}

///////////////////////
// Wordpress classes //
///////////////////////

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.alignright {float:right; }
.alignleft {float:left; }
.aligncenter {display: block; margin-left: auto; margin-right: auto}