/******
SIDEBAR
*******/
.my-featured-stuff-container {
	width: 243px;
	float: right;
	margin-left: 57px;
}

.my-featured-stuff-title {
	word-spacing: 3px;
}

.sidebar-post-header {
	color: #a8a8a8;
	background: #e9e9e9;
	margin: 10px 0;
	padding: 5px 0 5px 15px;
	font-weight: normal;
}

.sidebar-thumb {
	margin-top: 5px;
}