/******
SIDEBAR
*******/

.sidebar-header {
	color: $gray;
	font-size: 3em;
	line-height: 0.8em;
}

.sidebar-subheader {
	color: $gray;
	border-bottom: 1px solid $lighterGray;
	margin: 14px 0;
	font-weight: normal;
}

.sidebar-thumb {
	margin-top: 5px;
}

.sidebar-icons {
	padding-right: 10px;
	color: $lighterGray;
}

.about-image {
	float: left;
	clear: both;
}