// /******
// SINGLE
// ******/

// .single-container {
// 	margin-top: 55px;
// 	//float: left;
// }

// .single-header {
// 	margin-top: 23px;
// 	float: left;
// }

// .single-content {
// 	float: left;
// 	margin-top: 15px;
// 	font-size: 1.35em;
// 	line-height: 1.5;
// }

// .single-content p {
// 	padding: 10px 0;
// }

// .single-pagination {
// 	float: left;
// 	width: 100%;
// 	height: 30px;
// 	font-size: 1.2em;
// 	font-family: bebasregular;
// 	position: relative;
// 	padding: 25px 0;
// }

// .single-pagination-previous {
// 	float: left;
// }

// .single-pagination-next {
// 	float: right;
// }

// .single-pagination-arrow {
// 	font-size: 2em;
// 	line-height: 0.5;
// }

.share-header {
	font-size: 1.5em;
	margin-top: 1em;
	float: left;
	line-height: 1.5em;
}

.share-container {
	margin-top: 1em;
	font-size: 1.5em;
	line-height: 1.5em;
	text-align: right;
}

.single-content {
	margin-top: 1.5em;
}

.single-content h2 {
	margin: 2em 0 1em;
	border-bottom: 2px solid $lighterGray;
}

.single-content h3, .single-content h4 {
	margin: 0 0 1.5em;
	border-bottom: 1px solid $lighterGray;
	color: $gray;
}

.single-content ul {
	margin-bottom: 1.5em;
	margin-left: 2em;
}

.single-content ul li {
	margin-top: 1.5em;
}

.single-content ul li:first-child {
	margin-top: 0;
}

.single-pagination-container {
	font-size: 1.25em;
	line-height: 1.2em;
	margin: 1.2em 0;
	font-family: bebasregular;
	word-spacing: $wordSpacing;
}

.single-pagination-previous {
	text-align: left;
}

.single-pagination-next {
	text-align: right;
}

// MEDIUM //
@media only screen and (max-width: 64.063em) {



}

// SMALL //
@media only screen and (max-width: 40em) {

	

}