$blue: #70a8da;
$blueLight: #aed2ea;
$blueDark: #5e8cb6;

$aqua: #7bc1c7;
$aquaLight: #85D1D7;
$aquaLighter: #a1dae2;
$aquaSuperLighter: #e3fcff;
$aquaDark: #6aa6ab;

$gray: #6b6b6b;
$darkGray: #6b6b6b;
$lightGray: #6b6b6b;
$lighterGray: #C0C0C0;

$wordSpacing: 0.3em;
$wordSpacingP: 0.15em;