
article {
	font-size: 1.35em;
	line-height: 1.5;
	display: inline-block;
	margin-top: 15px;
}

.featured-article-content {
	float: left;
	width: 700px;
}

.featured-article-content p {
	padding: 10px 0;
}

.featured-sidebar-container {	
	float: left;
	//margin: 55px 0 0 0;
}

.top-featured-header {
	float: left;
	margin: 20px 0 0 0;
}

.featured-article-header {
	float: left;
	background: blue;
}

.featured-post-date {
	margin-top: 5px;
	clear: both;
	float: left;
}

.featured-article-comment-number {
	float: left;
	margin-left: 10px;
}

.post-date {
	padding-bottom: 8px;
	display: inline;
	width: 50px;
}

.article-container {
	width: 1024px;
	float: left;
}

.article-content-container h2 {
	line-height: 1em;
}

.article-content {
	display: inline;
	clear: both;
}

.article-content p {
	padding: 10px 0;
}

.article-img {
	float: left;
	padding: 0 12px 5px 0;
}

.comment-image {
	background: url("images/comment-bubble.png") no-repeat;
	background-position: bottom left;
	width: 18px; height: 16px;
	display: inline-block;
	margin: 2px 0 0 5px;
}

.article-comment-number {
	//float: left;
	clear:both;
	//background: green;
	display: inline-block;
	padding-bottom: 15px;
}

.article-comment-number img {
	margin-top: 15px;
	display: inline-block;
}

.featured-container {
	float: left;
	width: 700px;
}

.post-categories {
	list-style: none;
	margin: -28px 0 0 0;
	padding: 0;
	clear: both;
	float: left;
}

.post-categories li a {
	padding: 5px;
	color: #FFFFFF;
	font-family: bebasregular;
}

.post-categories li a:hover {
	opacity: 0.75;
	filter:alpha(opacity=75);
}

.top-featured-header {
	padding: 2px 0;
	margin: 20px 0 0 0;
	float: left;
}

.divider {
	height: 1px;
	background: #d8d8d7;
	margin: 35px 0;
}

.ts-pagination-container {
	float: left;
	margin: 45px 0 0 0;
	background: #eaf6f7;
	width: 100%;
	font-family: bebasregular;
}

.ts-pagination-list {
	float: right;
	margin: 0 20px 0 0;
}

.ts-pagination-list li {
	color: #ceebee;
	display: table-cell;
	text-align: center;
    vertical-align: middle;
}

.ts-pagination-list li:first-child {
	background: url("images/pagination-prev-bg.png") no-repeat;
	width: 73px;
	height: 37px;
	padding: 0 25px 0 8px;
}

.ts-pagination-list li:nth-child(2) {
	background: url("images/pagination-home-bg.png") no-repeat;
	width: 95px;
	height: 37px;
	padding: 0 30px 0 0;
}

.ts-pagination-list li:last-child {
	background: url("images/pagination-next-bg.png") no-repeat;
	background-position: 8px;
	width: 73px;
	height: 37px;
	padding: 0 20px 0 0px;
}

.top-featured-header, .article-header, .single-header, .single-pagination-previous, .single-pagination-next, .post-categories {
	word-spacing: 0.3em;
}

@-moz-document url-prefix() { 
	margin: 20px 0 0 0;	
}