.contact-header {
	margin: 55px 0 0 0;
	padding-bottom: 20px;
}

.wpcf7 p {
	padding: 10px 0;
	font-family: bebasregular;
}

.wpcf7-form-control {
	margin: 5px 0;
}

.wpcf7-textarea {
	width: 55%;
}

.wpcf7-submit {
	padding: 5px 15px;
	background: #85d1da;
	float: left;
	color: #cffcff;
	border: none;
}

.wpcf7-submit:hover {
	color: #FFFFFF;
	background: #8ad9e2;
}

.wpcf7-text, .wpcf7-textarea {
	font-family: cabin;
}