.footer {
	float: left;
	margin: 30px 0 0 0;
	padding: 0 0 55px 0;
}

.footer-piece {
	float: left;
	margin-left: 38px;
}

.footer-about {
	width: 35%;
}

.footer-follow {
	width: 16%;
}

.footer-categories {
	width: 16%;
}

.footer-pages {
	width: 16%;
}

.social-icon-list {
	list-style: none;
	margin-top: -15px;
}

.social-icon-list li {
	margin-top: 15px;
}

.social-icon {
	float: left;
	margin: 15px 0 0 0;
}
.social-text {
	margin: -22px 0 0 50px;
	float: left;
	width: 100%;
}

.ts-copyright {
	text-align: right;
	width: 100%;
	padding: 45px 0 0 0;
}