/******
GLOBAL
*******/

html {
	margin: 0;
}

body {
	font-family: cabin;
	font-size: 14px;
	color: #6b6b6b;
}

h1, h2, h3, h4 {
	font-family: bebasregular;
	font-weight: thin;
}

h2 {
	font-size: 1.8em;
}

a {
	text-decoration: none;
	font-weight: normal;
	color: #85d1da;
}

a:hover {
	color: #8cdae0;
}

#page {
 width: 1024px;
 margin: 0 auto;   
}

.ts-copyright {
	float: left;
}

.subheader {
	font-size: 1.5em;
	color: #70a8da;
}

.coming-soon-header {
	color: #CCCCCC;
	font-size: 3em;
}

.required {
	color: #71a9db;
	margin-left: 10px;
	font-size: 0.8em;
}

.ts-button {
	margin: 15px 0 0 0;
	padding: 5px;
	background: #85d1da;
	float: right;
	color: #cffcff;
}

.ts-button:hover {
	color: #FFFFFF;
	background: #8ad9e2;
}
