/******
GLOBAL
*******/

html {
	margin: 0;
	background: url("images/bg_hexagons.png") fixed #FFF no-repeat bottom center;
}

body {
	font-family: cabin;
	font-size: 14px;
	color: #6b6b6b;
}

h1, h2, h3, h4 {
	font-family: bebasregular;
	font-weight: thin;
}

h2 {
	font-size: 1.8em;
}

ul {
	list-style: disc;
	padding-left: 55px;
}

ul li {
	margin-top: 15px;
}

a {
	text-decoration: none;
	font-weight: normal;
	color: #85d1da;
}

a:hover {
	color: #8cdae0;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

#page {
 width: 1024px;
 margin: 0 auto;   
}

.ts-copyright {
	float: left;
}

.subheader {
	font-size: 1.5em;
	color: #70a8da;
}

.coming-soon-header {
	color: #CCCCCC;
	font-size: 3em;
}

.required {
	color: #71a9db;
	margin-left: 10px;
	font-size: 0.8em;
}

.ts-button {
	margin: 15px 0 0 0;
	padding: 5px;
	background: #85d1da;
	float: right;
	color: #cffcff;
}

.ts-button:hover {
	color: #FFFFFF;
	background: #8ad9e2;
}

.header-404 {
	font-size: 100px;
	margin-top: 60px;
}

.subheader-404 {
	font-size: 24px;
	word-spacing: 10px;
	margin-bottom: 50px;
}

.generic-index-box {
	margin-top: 60px;
}

blockquote {
	padding: 5px; 
	background: #EEE;
	margin: 15px 35px;
}