/*************
	MASTHEAD
**************/

.masthead {
 //background: grey;   
}

.main-header-logo {
  width: 960px;
  height: 201px; 
  z-index: 1;
}

.tech-rotate-box {
	width:190px; height:190px;
	float: left;
	margin: -265px 0 0 -150px;
	animation: rotateTech 8s infinite;
	-webkit-animation: rotateTech 8s infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	z-index: 999;
	opacity: 0.5;
}

.hexagon-box {
	float:right;
	margin: 8px -45px 0 0
}

.hexagon {
	width: 58px; height: 67px;
}

.hexagon:nth-child(2) {
	margin: -68px 0 0 65px;
}

.hexagon:nth-child(3) {
	margin: -68px 0 0 130px;
}

.hexagon:nth-child(4) {
	margin: -10px 0 0 33px;
}

.hexagon:nth-child(5) {
	margin: -68px 0 0 98px;
}

.hexagon:nth-child(6) {
	margin: -68px 0 0 163px;
}

.hexagon:nth-child(7) {
	margin: -10px 0 0 0;
}

.hexagon:nth-child(8) {
	margin: -66px 0 0 65px;
}

.hexagon:nth-child(9) {
	margin: -68px 0 0 132px;
}

/* ANIMATIONS */

.hexagon:hover {
	animation: scaleFade 0.5s 1;
	-webkit-animation: scaleFade 0.5s 1; // Opera / Chrome
}

@keyframes scaleFade {
	0% {
		transform: scale(1, 1);
        //animation-timing-function: ease-in;
	}
	25% {
		transform: scale(.85, .85);
		opacity: 0;
        //animation-timing-function: ease-out;
	}
	100% {
		transform: scale(1, 1);
		opacity: 1;
	}
}

@-webkit-keyframes scaleFade {
	0% {
		-webkit-transform: scale(1, 1);
        //animation-timing-function: ease-in;
	}
	25% {
		-webkit-transform: scale(.85, .85);
		opacity: 0;
        //animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: scale(1, 1);
		opacity: 1;
	}
}

@-moz-keyframes scaleFade {
	0% {
		-moz-transform: scale(1, 1);
        //animation-timing-function: ease-in;
	}
	25% {
		-moz-transform: scale(.85, .85);
		opacity: 0;
        //animation-timing-function: ease-out;
	}
	100% {
		-moz-transform: scale(1, 1);
		opacity: 1;
	}
}

@keyframes rotateTech {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg)
	}
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rotateTech {
	0% {
		-webkit-transform: rotate(0deg);
	}
	25% {
		-webkit-transform: rotate(90deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	75% {
		-webkit-transform: rotate(270deg)
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes rotateTech {
	0% {
		-moz-transform: rotate(0deg);
	}
	25% {
		-moz-transform: rotate(90deg);
	}
	50% {
		-moz-transform: rotate(180deg);
	}
	75% {
		-moz-transform: rotate(270deg)
	}
	100% {
		-moz-transform: rotate(360deg);
	}
}

/* MENU */

#nav-box {
	height: 30px;
	background: #a1dae2;
	border: 2px solid #88b8bc;
	opacity: 0.2;
	position: absolute;
	left: 0;
	top: 199px;
	width: 2560px;
}

.main-menu {
	font-family: bebasregular;
	margin-top: -4px;
	width: 1024px;
	position: absolute;
	top: 229px;
}

.main-menu ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width: 55%;
}

.main-menu ul li {
	float: left;
	padding: 10px 0 10px 35px;
	margin-left: 50px;
}

.main-menu ul li a {
	color: #4c6868;
}

.main-menu ul li:nth-child(1) {
	background: url('images/blog-icon.png') no-repeat left;
}

.main-menu ul li:nth-child(2) {
	background: url('images/books-icon.png') no-repeat left;
}

.main-menu ul li:nth-child(3) {
	background: url('images/stories-icon.png') no-repeat left;
}

.main-menu ul li:nth-child(4) {
	background: url('images/games-icon.png') no-repeat left;
}

.main-menu ul li:first-child {
	margin-left: 0;
}

/*******
FIREFOX
*******/

@-moz-document url-prefix() { 

	.main-menu ul li {
		margin-top: -4px;
	}

	.main-menu {
		top: 205px;
	}

}

/******
CHROME
******/

@media screen and (-webkit-min-device-pixel-ratio:0) {

	#nav-box {
		top: 226px;
	}

}